@import "../../../../variables";
@import "../../../../random";

.brick {
  height: auto;
  width: 205px;
  display: inline-block;
  padding: 3px 3px;
}

div .card-block {
  p {
    font-size: 15px;
    font-weight: lighter;
  }
  footer cite{
    font-size: 11px;
  }
}

.card-header, .card-header i{
  font-size: 10px;
}

.card-footer i{
  padding: 3px;
  margin: 1px;

  &.fa-facebook{
    color: $facebook-brand;
  }
  &.fa-twitter{
    color: $twitter-brand
  }
  &.fa-pinterest{
    color: $pinterest-brand
  }
  &.fa-instagram {
    color: $instagram-brand
  }
  &.fa-whatsapp {
    color: $whatsapp-brand
  }
  &.fa-download {
    color: $download-brand
  }
}