// assign color names to specific hex values.
$twitter-brand: #00aced !default;
$facebook-brand:  #3b5998 !default;
$whatsapp-brand:  #25d366 !default;
$instagram-brand: #517fa4 !default;
$pinterest-brand: #cb2027 !default;
$download-brand: #000000 !default;