<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <a class="navbar-brand" routerLink="/">
    Inspirations
    <i class="fa fa-bolt" aria-hidden="true"></i>
  </a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let nav of navs">
        <a class="nav-link" 
        [routerLink]="nav.link" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: nav.exact }">{{nav.name}}</a>
      </li>
    </ul>
  </div>
</nav>